@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:700,900&display=swap');

$bg-list: #fff;
$text-color: #262626;
$title-color: #fff;

// толщина границы
$b-size: 2px;

$text-ff: 'Raleway', sans-serif;
// $title-ff: 'Roboto', sans-serif;
// $btn-ff: 'Open Sans', sans-serif;